.empty-zone,
#page-zones__main:empty,
.canvas,
#page-zones__main > .widget:not(.row),
.row:not(.widget):not(.row--width-no-padding) .row__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  width: 90%;
}
